*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
    font-size: 62.5%;
  }
  
  body {
    font-size: 1.6rem;
    font-family: 'Ibarra Real Nova', serif;
  }
  

#root{
    display: grid;
    grid-template-columns: repeat(2, 39rem);
    justify-content: space-between;
    row-gap: 3rem;
    width: 80rem;
    margin-left:10rem;
    margin-top: 3rem;
}

.card{
    margin-bottom:2rem;
    margin-right: 2rem;
    border: 1px solid rgb(144, 120, 248);
    border-radius:2rem;
    padding: 0.5rem;
    height:23rem;
   
   
}

.card_title{
    height:3rem;
    color:rgb(18, 11, 43);
   
}
.card_content{
    margin-top: 2rem;
    margin-bottom: 2rem;
    height: 10rem;
    line-height: 2.5rem;
}

footer{
    font-size:2rem
}